@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply bg-gray-300 from-blue-100 to-gray-300 flex h-screen w-screen items-center justify-center;
}

/* Tarjeta de login / formularios */
.card {
  @apply bg-gray-300 p-10 rounded-2xl shadow-xl w-full border-4 border-black;
}

/* Letra*/
.Write {
    @apply text-3xl font-black text-center mb-6 text-gray-600 ;
}
/* Inputs */
.input {
  @apply p-3 border border-black rounded-lg focus:outline-none focus:ring-2 focus:ring-black bg-gray-300 text-gray-600;
}

/* Botón principal */
.btn-primary {
  @apply bg-gray-600 text-gray-300  font-black py-3 rounded-lg hover:bg-black transition;
}

/* Contenedor de página */
.page-container {
  @apply flex items-center justify-center h-screen bg-gray-100
}
/* Links */
.link {
  @apply text-center text-gray-600 hover:text-white cursor-pointer;
}

/* logo */

.logo-bottom {
  @apply fixed bottom-2.5 left-20  max-w-[300px] h-auto;
}

/* Botones del menú principal */
#menu-option {
  @apply w-full text-left px-4 py-3 rounded-md transition duration-200 cursor-pointer font-medium text-xl;
  @apply bg-transparent text-blue-200  hover:bg-blue-200 hover:text-blue-900;
}

#menu-option.active {
  @apply bg-blue-900 text-blue-500 font-bold text-2xl;
}

